.DS_Store
home/.config/tmux/plugins/
home/.config/nvim/lazy-lock.json
home/.pi/agent/auth.json
home/.pi/agent/bin/
home/.pi/agent/sessions/
home/.config/opencode/node_modules/
home/.config/opencode/package-lock.json
home/.config/opencode/bun.lock
