.DS_Store

# Tmux plugin manager
home/.config/tmux/plugins/

# Neovim lazy plugin lockfile
home/.config/nvim/lazy-lock.json

# Opencode runtime
home/.config/opencode/node_modules/
home/.config/opencode/package-lock.json
home/.config/opencode/bun.lock
